<div class="mt-4">
    <div class="row">
       <div class="col-lg-3">
           <button>Học Ngay</button>
       </div>
        <div class="col-lg-9">
           <h1>{{ course.name }}</h1>
           <h1>{{ course.description }}</h1>
           <h1>{{ course.slug }}</h1>
       </div>
    </div>
</div>